/* Main style goes here */
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    height: 100%;
    border: 5px solid red;
}
#controlPanel {
    height: 80px;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
}
#control_brush {
    display: flex;
    justify-content: center;
}
#control_brush #brush_size_display,
#control_brush #brush_size_dec,
#control_brush #brush_size_inc,
#canvas_clear_btn,
#brush_color_picker {
    width: 40px;
    height: 40px;
    font-size: 1em;
    font-weight: 800;
    color: black;
    text-align: center;
}